@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/fonts";

.cart {
  padding-top: 50px;
  padding-bottom: 110px;
}


.cart-title {
  @include head-lora-36;
  margin-bottom: 40px;
}

.cart-info {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 160px;
}

.cart-products {
  width: 678px;
}

.cart-products:first-child {
  border-top: 0;
  margin: 0;
  padding: 0;
}

.cart-product-image {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  margin-right: 26px;
  border-radius: 5px;
}

.cart-product-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  width: 247px;
  margin-right: 10px;
}

.cart-product-price {
  margin-left: 69px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: $gray-text-color;
  margin-right: 19px;
}

.cart-product-remove {
  cursor: pointer;
}

.cart-details {
  width: 501px;
}

.cart-details-info {
  background-color: #E9E7F1;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 12px;
}

.cart-details-info-title {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: $green-text-color;
  margin-bottom: 20px;
}

.cart-details-info-item {
  display: flex;
  align-items: center;
  color: $gray-text-color;
}

.cart-details-info-item.first {
  margin-bottom: 10px;
}

.cart-details-info-item-text {
  font-size: 16px;
  margin-right: 12px;
}

.cart-details-info-item-data {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.cart-details-info-item-delivery {
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 300;
}

.cart-details-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-details-actions .button {
  width: 234px;
}

.cart-details-actions .button-transparent {
  width: 255px;
  margin-right: 12px;
  color: #38334C;
}

.cart-link {
  text-decoration: none;
  color: $dark-text-color;
}

.no-item {
  margin-bottom: 20px;
}
