@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/fonts";

.main {
  background-image: url("../../../assets/images/main-bg.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 210px);
  padding-top: 58px;
  padding-bottom: 231px;

  .container {
    .main-title {
      font-family: 'Lora', sans-serif;
      font-weight: 400;
      font-size: 60px;
      line-height: 130%;
      color: $dark-text-color;
      margin-bottom: 67px;
    }

    .main-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 140%;
      color: $green-text-color;
      max-width: 528px;
    }
  }
}

.offers {
  background-color: #BCE0F5;
  padding: 80px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .offer {
      width: 600px;
      height: 250px;
      padding: 35px 35px 0 35px;
      background: #ffffff;
      border-radius: 5px;
      box-sizing: border-box;

      .offer-title {
        font-size: 20px;
        line-height: 130%;
        color: $green-text-color;
      }

      .offer-content {
        display: flex;

        .offer-text {
          font-size: 16px;
          line-height: 130%;
          color: $green-text-color;
        }
      }

      &.offer-insta {
        .offer-image {
          margin-top: 35px;
        }

        .offer-text {
          margin-top: 16px;
          max-width: 234px;
          margin-left: 58px;
        }

        .offer-button {
          margin-left: 168px;
          margin-top: 22px;

          .button {
            width: 228px;
          }
        }
      }

      &.offer-collection {
        .offer-title {
          max-width: 362px;
        }

        .offer-image {
          margin-top: 12px;
          margin-left: 81px;
        }

        .offer-button {
          margin-top: 75px;
          margin-left: 44px;

          .button {
            width: 177px;
          }
        }
      }
    }
  }
}

.best-products {
  padding-top: 120px;
  padding-bottom: 130px;

  .carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    .carousel-title {
      @include head-lora-32();
    }

    .carousel-arrows {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        cursor: pointer;

        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }
}

.info {
  background: #BCE0F5 url("../../../assets/images/big-flower.png") no-repeat;
  background-position-x: calc(50% + 340px);
  padding: 80px 0;

  .container {

    .info-title {
      @include head-lora-32;
      margin-bottom: 5px;
    }

    .info-item {
      margin-top: 35px;
      color: #000000;
      max-width: 442px;

      .info-image {
        margin-bottom: 30px;
      }

      .info-text {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;

        .info-text-extra {
          font-family: 'Montserrat', sans-serif;
          font-style: italic;
          font-weight: 300;
          line-height: 130%;
          margin-top: 8px;
        }
      }

      &.info-delivery {
        .info-text:last-child {
          margin-top: 16px;
        }
      }

      &.info-payment {
        .info-text {
          margin-bottom: 10px;
          font-family: 'Montserrat', sans-serif;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.reviews {
  margin-top: 130px;
  margin-bottom: 130px;

  .container {

    .reviews-title {
      @include head-lora-32;
      text-align: center;
      margin-bottom: 50px;
    }

    .reviews-carousel {
position: relative;

      .reviews-item {
        width: 396px;
        height: 267px;
        padding: 30px;
        border: 2px solid #2C496B;
        border-radius: 10px;
        box-sizing: border-box;

        .reviews-item-head {
          display: flex;
          align-items: center;

          .reviews-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .reviews-item-name {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: $green-text-color;
          }
        }

        .reviews-item-text {
          margin-top: 15px;
          font-size: 16px;
          line-height: 140%;
          color: $gray-text-color;
        }
      }

      .reviews-arrows {
        display: flex;
        a {
          top: calc(50% - 5px);
          display: flex;
          position: absolute;
          cursor: pointer;

          &.move-back {
            left: -41px;
          }

          &.move-forward {
            right: -41px;
          }
        }
      }
    }
  }
}

.map iframe {
vertical-align: bottom;
}
