@import "../../../../assets/styles/auth-form";

.signup {
margin-top: 10px;

  .container {
    display: flex;
  }

  .page-image {
    margin-left: 222px;
    margin-top: auto;

    img {
      vertical-align: bottom;
    }
  }
}
