@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";

header.header {
  padding: 30px 0 49px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .header-top {
      padding-top: 32px;
      padding-bottom: 25px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #c5c5c5;

      .header-top-menu {
        margin-left: 26px;
        margin-right: 191px;

        nav ul {
          margin: 0;
          padding: 0;
          display: flex;

          li {
            margin-right: 40px;
            list-style: none;
            border-bottom: 1px solid transparent;

            &.active {
              border-bottom-color: #BCE0F5;
            }

            a {
              font-family: 'Montserrat', sans-serif;
              font-weight: 500;
              font-size: 16px;
              color: $green-text-color;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }

      .header-top-phone {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: $green-text-color;
        cursor: pointer;
        text-decoration: none;
        margin-right: 59px;
      }

      .header-top-actions {
        display: flex;
        align-items: center;

        a {
          position: relative;
          margin-right: 8px;
          cursor: pointer;

          &:last-child {
            margin-right: 18px;
          }

          span {
            position: absolute;
            width: 18px;
            height: 18px;
            top: 10px;
            right: -18px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 9px;
            font-weight: 400;
            color: $green-text-color;
            border-radius: 50%;
            background: #BCE0F5;
          }
        }
      }
    }

    .header-bottom {
      padding-top: 16px;
      display: flex;
      align-items: center;

      .header-bottom-menu {
        margin-right: 97px;
        margin-left: 26px;

        nav ul {
          margin: 0;
          padding: 0;
          display: flex;

          li {
            margin-right: 50px;
            list-style: none;
            border-bottom: 1px solid transparent;

            &.active {
              border-bottom-color: #BCE0F5;
            }

            a {
              font-family: 'Montserrat', sans-serif;
              font-weight: 400;
              font-size: 16px;
              color: $green-text-color;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }

      .header-bottom-search {
        position: relative;

        input {
          border-radius: 30px;
          border: 1px solid $green-text-color;
          padding: 10px 10px 10px 43px;
          width: 214px;
          height: 41px;
          box-sizing: border-box;
          font-size: 16px;
          color: $green-text-color;
          outline: none;
        }
        &::after {
          content: '';
          background-image: url("../../../../assets/images/icons/search.png");
          background-size: cover;
          position: absolute;
          width: 16px;
          height: 16px;
          left: 15px;
          top: 11px;
        }
      }
    }
  }
}

